body {
  /* background-color: #fff; */
}

.logo__images {
  background-image: url(../images/logo-light.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.button-cover, .knobs, .layer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 250px;
  height: 55px;
  /* margin: -20px auto 0 auto; */
  overflow: hidden;
}

.button.r, .button.r .layer {
  border-radius: 108px;
  background-color: transparent;
  border: 2px solid #151515;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

#button-3 .knobs:before {
  content: 'Черный';
  position: absolute;
  top: 0px;
  left: 125px;
  width: 50%;
  height: 100%;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  padding: 15px 0;
  background-color: #151515;
  border-radius: 65px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3::before {
  content: 'Белый';
  position: absolute;
  left: 25px;
  color: #151515;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  padding: 15px 0;
}

/* #button-3 .checkbox:active+.knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active+.knobs:before {
  margin-left: -26px;
} */

#button-3 .checkbox:checked+.knobs:before {
  content: 'Черный';
  left: 125px;
  background-color: #f1f1f1;
  color: #151515;
}

#button-3 .checkbox:checked~.layer {
  background-color: #fcebeb;
}

.header {
  background-image: url(../images/background-light.jpg);
}

.menu__item-link {
  color: #151515;
}

.menu__item-link::before {
  color: #cc4b19;
}

.header__title {
  color: #FF4C0D;
}

.header__text {
  color: #151515;
}

.benefits {
  background-image: url(../images/bg-light.jpg);
}

.container {}

.benefits__title {
  color: #151515;
}

.benefits__inner {
  color: #757473;
  transition: all 0.5s;
}

.benefits__item:hover {
  color: #151515;
}

.benefits__item:hover .benefits__item-title {
  color: #FF4C0D;
}

.benefits__item-title:hover {}

.benefits__item-text:hover {
  color: #151515;
}

.benefits__images {}

.benefits__images-left {}

.benefits__images-right {}

.content__logo-images {
  background-image: url(../images/logo-black.png);
  margin: 120px 0 95px;
}

.advantages {
  background-image: url(../images/advantages__light-bg.jpg);
}

.advantages__bottom-text {
  color: #151515;
}

.advantages__top-title {
  color: #151515;
}

.carousel {
  background-image: url(../images/caoursel-light.jpg);
}

.carousel__item-box::after {
  background-color: #FF4C0D;
}

.carousel__item-box {
  background-color: #f1f1f1;
}

.carousel__item-title {
  color: #151515;
}

.carousel__item-text {
  color: #151515;
}

.question {
  background-image: url(../images/ques-light.jpg);
  color: #151515;
}

.question__card {
  position: relative;
  background-image: url(../images/card-light.jpg);
}

.uestion__btn {
  position: relative;
  color: #f1f1f1;
  background: #FF4C0D;
  z-index: 10;
}

.uestion__btn:hover {
  color: #FF4C0D;
  background: #151515;
}

.question__card::after {
  content: url('../images/bak-white.png');
  width: 100%;
  height: 100%;
  position: absolute;
  top: -90px;
  left: 335px;
}

#button-3 .knobs:before {
  content: 'Черный';
  position: absolute;
  top: 0px;
  left: 125px;
  width: 50%;
  height: 100%;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  padding: 15px 0;
  background-color: #151515;
  border-radius: 65px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3::before {
  content: 'Белый';
  position: absolute;
  left: 25px;
  color: #151515;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  padding: 15px 0;
}

/* #button-3 .checkbox:active+.knobs:before {
  width: 46px;
  border-radius: 100px;
}

#button-3 .checkbox:checked:active+.knobs:before {
  margin-left: -26px;
} */

#button-3 .checkbox:checked+.knobs:before {
  content: 'Черный';
  left: 125px;
  background-color: #f1f1f1;
  color: #151515;
}

#button-3 .checkbox:checked~.layer {
  background-color: #fcebeb;
}

.footer {
  background-color: #dfdfdf;
}

.footer__info-text {
  color: #151515;
}

.foooter__contact-phone {
  color: #151515;
}